<h1 class="subtitle is-3">Checkout</h1>

<div class="columns">
  <div class="column is-narrow">
    <%# First column %>
    <% if customer_signed_in? %>
      <div class="box" style="width: 700px" is-two-thirds>
        <p class="title is-5">Shipping Details</p>
        <p>If you are already a registered customer, please log in to enjoy a faster and easier payment experience.</p>

        <%= form_with(url: create_order_cart_path, method: :post, local: true) do |form| %>

          <!-- Address -->
          <div class="field">
            <label class="label">Address</label>
            <div class="control">
              <%= form.text_field :address, value: current_customer.address, placeholder: "e.g 111 Main St Unit 511", class: "input" %>
            </div>
          </div>

          <!-- Postal Code -->
          <div class="field">
            <label class="label">Postal Code</label>
            <div class="control">
              <%= form.text_field :postal_code, value: current_customer.postal_code, placeholder: "R3L 2G7", class: "input" %>
            </div>
          </div>

          <!-- City -->
          <div class="field">
            <label class="label">City</label>
            <div class="control">
              <%= form.text_field :city, value: current_customer.city, placeholder: "e.g Calgary", class: "input" %>
            </div>
          </div>

           <!-- Province -->
          <div class="field">
            <label class="label">Province</label>
            <div class="control">
              <%= form.text_field :province, value: current_customer.province.name, placeholder: "e.g Alberta", class: "input" %>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="control">
            <button class="button is-fullwidth" type="submit">Proceed with Payment</button>
          </div>
        <% end %>
      </div>
    <% else %>
      <!-- Form to create client if not authenticated -->
      <div class="box" style="width: 700px" is-two-thirds>
        <%= form_with(model: @customer, url: customers_path, method: :post, local: true) do |form| %>
          <p class="title is-5">Create an Account</p>

           <!-- First Name -->
          <div class="field">
            <label class="label">First Name</label>
            <div class="control">
              <%= form.text_field :first_name, placeholder: "e.g Alex", class: "input" %>
            </div>
          </div>

          <!-- Last Name -->
          <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <%= form.text_field :last_name, placeholder: "e.g Smith", class: "input" %>
            </div>
          </div>

          <!-- Email -->
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <%= form.email_field :email, placeholder: "e.g. alexsmith@gmail.com", class: "input" %>
            </div>
          </div>

          <!-- Phone -->
          <div class="field">
            <label class="label">Phone</label>
            <div class="control">
              <%= form.text_field :phone, placeholder: "e.g 587 222 7711", class: "input" %>
            </div>
          </div>

          <!-- Address -->
          <div class="field">
            <label class="label">Address</label>
            <div class="control">
              <%= form.text_field :address, placeholder: "e.g 111 Osborne St Unit 511", class: "input" %>
            </div>
          </div>

          <!-- Postal Code -->
          <div class="field">
            <label class="label">Postal Code</label>
            <div class="control">
              <%= form.text_field :postal_code, placeholder: "R3L 2G7", class: "input" %>
            </div>
          </div>

          <!-- City -->
          <div class="field">
            <label class="label">City</label>
            <div class="control">
              <%= form.text_field :city, placeholder: "e.g Calgary", class: "input" %>
            </div>
          </div>

          <!-- Province -->
          <div class="field">
            <label class="label">Province</label>
            <div class="control">
              <%# <div class="select">
                <select name="province_id">
                  <option value="1">Alberta</option>
                  <option value="2">British Columbia</option>
                  <option value="3">Manitoba</option>
                  <option value="4">Ontario</option>
                  <option value="5">Quebec</option>
                  <option value="6">Saskatchewan</option>
                  <option value="7">Newfoundland and Labrador</option>
                  <option value="8">Nova Scotia</option>
                  <option value="9">New Brunswick</option>
                  <option value="10">Prince Edward Island</option>
                </select>
              </div> %>
              <%= form.collection_select :province_id, Province.all, :id, :name, {}, { class: "select" } %>
            </div>
          </div>

          <!-- Password -->
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <%= form.password_field :password, placeholder: "Create a password", class: "input" %>
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control">
              <%= form.password_field :password_confirmation, placeholder: "Confirm your password", class: "input" %>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="control">
            <button class="button is-fullwidth" type="submit">Create Account and Proceed with Payment</button>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="column">
    <%# Second column %>
    <div class="box">
      <p class="title is-5">Order Summary</p>
      <hr>

      <p class="subtitle is-4"><%= @cart.sum { |item| item["quantity"].to_i } %><strong> Items</strong> </p>
      <hr>
      <p><strong>Subtotal :</strong><%= number_to_currency(@subtotal) %></p>
      <p><strong>Shipping :</strong> $0.00</p>
      <p><strong>Estimated Tax :</strong><%= number_to_currency(@taxes) %></p>
      <hr>
      <p class="subtitle is-3"><strong>Total :</strong> <%= number_to_currency(@total) %></p>
    </div>

  </div>
</div>
